---fFWgweH1---A--
[13/Oct/2017:19:59:28 +0000] 150792476823.322465 4.3.2.1 54477 4.3.2.1 80
---fFWgweH1---B--
HEAD /mysql/admin/ HTTP/1.1
Connection: Keep-Alive
Keep-Alive: 300
User-Agent: Mozilla/5.0 Jorgee
Host: test.domain.com

---fFWgweH1---D--

---fFWgweH1---F--
HTTP/1.1 403
Server: nginx
Date: Fri, 13 Oct 2017 19:59:28 GMT
Content-Length: 162
Content-Type: text/html
Connection: keep-alive

---fFWgweH1---H--
ModSecurity: Warning. Matched "Operator `Rx' with parameter `^[\d.:]+$' against variable `REQUEST_HEADERS:Host' (Value: `test.domain.com' ) [file "/usr/local/owasp-modsecurity-crs-3.0.0/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf"] [line "734"] [id "920350"] [rev "2"] [msg "Host header is a numeric IP address"] [data "test.domain.com"] [severity "4"] [ver "OWASP_CRS/3.0.0"] [maturity "9"] [accuracy "9"] [tag "application-multi"] [tag "language-multi"] [tag "platform-multi"] [tag "attack-protocol"] [tag "OWASP_CRS/PROTOCOL_VIOLATION/IP_HOST"] [tag "WASCTC/WASC-21"] [tag "OWASP_TOP_10/A7"] [tag "PCI/6.5.10"] [ref "o0,14v104,14"]

---fFWgweH1---I--

---fFWgweH1---J--

---fFWgweH1---Z--

---mTSlxvuo---A--
[13/Oct/2017:19:59:28 +0000] 15079247686.951552 4.3.2.1 54477 4.3.2.1 80
---mTSlxvuo---B--
HEAD /mysql/dbadmin/ HTTP/1.1
Connection: Keep-Alive
Keep-Alive: 300
User-Agent: Mozilla/5.0 Jorgee
Host: test.domain.com

---mTSlxvuo---D--

---mTSlxvuo---F--
HTTP/1.1 403
Server: nginx
Date: Fri, 13 Oct 2017 19:59:28 GMT
Content-Length: 162
Content-Type: text/html
Connection: keep-alive

---mTSlxvuo---H--
ModSecurity: Warning. Matched "Operator `Rx' with parameter `^[\d.:]+$' against variable `REQUEST_HEADERS:Host' (Value: `test.domain.com' ) [file "/usr/local/owasp-modsecurity-crs-3.0.0/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf"] [line "734"] [id "920350"] [rev "2"] [msg "Host header is a numeric IP address"] [data "test.domain.com"] [severity "4"] [ver "OWASP_CRS/3.0.0"] [maturity "9"] [accuracy "9"] [tag "application-multi"] [tag "language-multi"] [tag "platform-multi"] [tag "attack-protocol"] [tag "OWASP_CRS/PROTOCOL_VIOLATION/IP_HOST"] [tag "WASCTC/WASC-21"] [tag "OWASP_TOP_10/A7"] [tag "PCI/6.5.10"] [ref "o0,14v106,14"]

---mTSlxvuo---I--

---mTSlxvuo---J--

---mTSlxvuo---Z--

---2fZWEjcv---A--
[13/Oct/2017:19:59:28 +0000] 150792476879.610673 4.3.2.1 54477 4.3.2.1 80
---2fZWEjcv---B--
HEAD /mysql/sqlmanager/ HTTP/1.1
Connection: Keep-Alive
Keep-Alive: 300
User-Agent: Mozilla/5.0 Jorgee
Host: test.domain.com

---2fZWEjcv---D--

---2fZWEjcv---F--
HTTP/1.1 403
Server: nginx
Date: Fri, 13 Oct 2017 19:59:28 GMT
Content-Length: 162
Content-Type: text/html
Connection: keep-alive

---2fZWEjcv---H--
ModSecurity: Warning. Matched "Operator `Rx' with parameter `^[\d.:]+$' against variable `REQUEST_HEADERS:Host' (Value: `test.domain.com' ) [file "/usr/local/owasp-modsecurity-crs-3.0.0/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf"] [line "734"] [id "920350"] [rev "2"] [msg "Host header is a numeric IP address"] [data "test.domain.com"] [severity "4"] [ver "OWASP_CRS/3.0.0"] [maturity "9"] [accuracy "9"] [tag "application-multi"] [tag "language-multi"] [tag "platform-multi"] [tag "attack-protocol"] [tag "OWASP_CRS/PROTOCOL_VIOLATION/IP_HOST"] [tag "WASCTC/WASC-21"] [tag "OWASP_TOP_10/A7"] [tag "PCI/6.5.10"] [ref "o0,14v109,14"]

---2fZWEjcv---I--

---2fZWEjcv---J--

---2fZWEjcv---Z--

---xlvWNo10---A--
[13/Oct/2017:19:59:28 +0000] 150792476852.278806 4.3.2.1 54477 4.3.2.1 80
---xlvWNo10---B--
HEAD /mysql/mysqlmanager/ HTTP/1.1
Connection: Keep-Alive
Keep-Alive: 300
User-Agent: Mozilla/5.0 Jorgee
Host: test.domain.com

---xlvWNo10---D--

---xlvWNo10---F--
HTTP/1.1 403
Server: nginx
Date: Fri, 13 Oct 2017 19:59:28 GMT
Content-Length: 162
Content-Type: text/html
Connection: keep-alive

---xlvWNo10---H--
ModSecurity: Warning. Matched "Operator `Rx' with parameter `^[\d.:]+$' against variable `REQUEST_HEADERS:Host' (Value: `test.domain.com' ) [file "/usr/local/owasp-modsecurity-crs-3.0.0/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf"] [line "734"] [id "920350"] [rev "2"] [msg "Host header is a numeric IP address"] [data "test.domain.com"] [severity "4"] [ver "OWASP_CRS/3.0.0"] [maturity "9"] [accuracy "9"] [tag "application-multi"] [tag "language-multi"] [tag "platform-multi"] [tag "attack-protocol"] [tag "OWASP_CRS/PROTOCOL_VIOLATION/IP_HOST"] [tag "WASCTC/WASC-21"] [tag "OWASP_TOP_10/A7"] [tag "PCI/6.5.10"] [ref "o0,14v111,14"]

---xlvWNo10---I--

---xlvWNo10---J--

---xlvWNo10---Z--

---1Xhv9wwv---A--
[13/Oct/2017:19:59:28 +0000] 150792476859.361240 4.3.2.1 54477 4.3.2.1 80
---1Xhv9wwv---B--
HEAD /phpmyadmin/ HTTP/1.1
Connection: Keep-Alive
Keep-Alive: 300
User-Agent: Mozilla/5.0 Jorgee
Host: test.domain.com

---1Xhv9wwv---D--

---1Xhv9wwv---F--
HTTP/1.1 403
Server: nginx
Date: Fri, 13 Oct 2017 19:59:28 GMT
Content-Length: 162
Content-Type: text/html
Connection: keep-alive

---1Xhv9wwv---H--
ModSecurity: Warning. Matched "Operator `Rx' with parameter `^[\d.:]+$' against variable `REQUEST_HEADERS:Host' (Value: `test.domain.com' ) [file "/usr/local/owasp-modsecurity-crs-3.0.0/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf"] [line "734"] [id "920350"] [rev "2"] [msg "Host header is a numeric IP address"] [data "test.domain.com"] [severity "4"] [ver "OWASP_CRS/3.0.0"] [maturity "9"] [accuracy "9"] [tag "application-multi"] [tag "language-multi"] [tag "platform-multi"] [tag "attack-protocol"] [tag "OWASP_CRS/PROTOCOL_VIOLATION/IP_HOST"] [tag "WASCTC/WASC-21"] [tag "OWASP_TOP_10/A7"] [tag "PCI/6.5.10"] [ref "o0,14v103,14"]

---1Xhv9wwv---I--

---1Xhv9wwv---J--

---1Xhv9wwv---Z--
