--f6531618-A--
[20/Nov/2016:17:53:55 +0200] V4@ek6wRRCoAAGfrlrEBBBBq 4.1.2.3 36882 192.168.1.1 81
--f6531618-B--
GET /cas/proxy...sample.html HTTP/1.1
User-Agent: Java/1.7.0_101
Host: services-cas.domain.com
Accept: text/html, image/gif, image/jpeg, *; q=.2, */*; q=.2
Connection: keep-alive

--f6531618-F--
HTTP/1.1 200 OK
Pragma: no-cache
Expires: Thu, 01 Jan 1970 00:00:00 GMT
Cache-Control: no-cache
Cache-Control: no-store
Content-Type: text/plain;charset=UTF-8
Content-Language: en-US
Content-Length: 228
Connection: close

--f6531618-E--

--f6531618-H--
Message: Warning. Pattern match "([\\~\\!\\@\\#\\$\\%\\^\\&\\*\\(\\)\\-\\+\\=\\{\\}\\[\\]\\|\\:\\;\"\\'\\\xc2\xb4\\\xe2\x80\x99\\\xe2\x80\x98\\`\\<\\>].*?){4,}" at ARGS:targetService. [file "/etc/httpd/modsecurity.d/activated_rules/modsecurity_crs_41_sql_injection_attacks.conf"] [line "170"] [id "981173"] [rev "2"] [msg "Restricted SQL Character Anomaly Detection Alert - Total # of special characters exceeded"] [data "Matched Data: - found within ARGS:targetService: http://rec-services.domain.com/home/tools/earth-station-approval.html"] [ver "OWASP_CRS/2.2.6"] [maturity "9"] [accuracy "8"]
Message: Warning. Operator LT matched 5 at TX:inbound_anomaly_score. [file "/etc/httpd/modsecurity.d/activated_rules/modsecurity_crs_60_correlation.conf"] [line "33"] [id "981203"] [msg "Inbound Anomaly Score (Total Inbound Score: 3, SQLi=1, XSS=): Restricted SQL Character Anomaly Detection Alert - Total # of special characters exceeded"]
Apache-Handler: proxy-server
Stopwatch: 1469030035640545 16126 (- - -)
Stopwatch2: 1469030035640545 16126; combined=3511, p1=268, p2=3051, p3=5, p4=81, p5=105, sr=59, sw=1, l=0, gc=0
Response-Body-Transformed: Dechunked
Producer: ModSecurity for Apache/2.7.3 (http://www.modsecurity.org/); OWASP_CRS/2.2.6.
Server: Apache
Engine-Mode: "DETECTION_ONLY"

--f6531618-Z--
--8b0b1423-A--
[20/Nov/2016:17:53:54 +0200] V4@ekqwRRCkAAFDTGiwAAAAd 2.1.3.4 54952 192.168.1.1 81
--8b0b1423-B--
GET /cas/proxy...test.html HTTP/1.1
Cache-Control: no-cache
Pragma: no-cache
User-Agent: Java/1.6.0_45
Host: services-cas.domain.com
Accept: text/html, image/gif, image/jpeg, *; q=.2, */*; q=.2
Connection: keep-alive

--8b0b1423-F--
HTTP/1.1 200 OK
Content-Type: text/html;charset=UTF-8
Content-Language: en-US
Content-Length: 425
Connection: close

--8b0b1423-E--

--8b0b1423-H--
Message: Warning. Pattern match "([\\~\\!\\@\\#\\$\\%\\^\\&\\*\\(\\)\\-\\+\\=\\{\\}\\[\\]\\|\\:\\;\"\\'\\\xc2\xb4\\\xe2\x80\x99\\\xe2\x80\x98\\`\\<\\>].*?){4,}" at ARGS:service. [file "/etc/httpd/modsecurity.d/activated_rules/modsecurity_crs_41_sql_injection_attacks.conf"] [line "170"] [id "981173"] [rev "2"] [msg "Restricted SQL Character Anomaly Detection Alert - Total # of special characters exceeded"] [data "Matched Data: = found within ARGS:service: http://rec-services.domain.com/deploy_Esaw_SSO/pages/welcomePage.jsp;jsessionid=AF534C08FCDB08AAA9F4538D24600BBE.jakartadev"] [ver "OWASP_CRS/2.2.6"] [maturity "9"] [accuracy "8"]
Message: Warning. Operator LT matched 5 at TX:inbound_anomaly_score. [file "/etc/httpd/modsecurity.d/activated_rules/modsecurity_crs_60_correlation.conf"] [line "33"] [id "981203"] [msg "Inbound Anomaly Score (Total Inbound Score: 3, SQLi=1, XSS=): Restricted SQL Character Anomaly Detection Alert - Total # of special characters exceeded"]
Apache-Handler: proxy-server
Stopwatch: 1469030034539483 53161 (- - -)
Stopwatch2: 1469030034539483 53161; combined=4501, p1=143, p2=4220, p3=3, p4=57, p5=77, sr=46, sw=1, l=0, gc=0
Response-Body-Transformed: Dechunked
Producer: ModSecurity for Apache/2.7.3 (http://www.modsecurity.org/); OWASP_CRS/2.2.6.
Server: Apache
Engine-Mode: "DETECTION_ONLY"

--8b0b1423-Z--
--e5805d4a-A--
[20/Nov/2016:17:53:16 +0200] V4@ebKwRRCkAACQGVqgAAAAZ 2.1.3.4 2637 192.168.1.1 80
--e5805d4a-B--
PROPFIND /office HTTP/1.1
Connection: Keep-Alive
User-Agent: Microsoft-WebDAV-MiniRedir/6.1.7601
Depth: 0
translate: f
Content-Length: 0
Host: domain.com

--e5805d4a-F--
HTTP/1.1 403 Forbidden
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Content-Length: 208
Connection: close
Content-Type: text/html; charset=iso-8859-1

--e5805d4a-E--

--e5805d4a-H--
Message: Access denied with code 403 (phase 1). Match of "within %{tx.allowed_methods}" against "REQUEST_METHOD" required. [file "/etc/httpd/modsecurity.d/activated_rules/modsecurity_crs_30_http_policy.conf"] [line "31"] [id "960032"] [rev "2"] [msg "Method is not allowed by policy"] [data "PROPFIND"] [severity "CRITICAL"] [ver "OWASP_CRS/2.2.6"] [maturity "9"] [accuracy "9"] [tag "OWASP_CRS/POLICY/METHOD_NOT_ALLOWED"] [tag "WASCTC/WASC-15"] [tag "OWASP_TOP_10/A6"] [tag "OWASP_AppSensor/RE1"] [tag "PCI/12.1"]
Action: Intercepted (phase 1)
Stopwatch: 1469029996747768 352 (- - -)
Stopwatch2: 1469029996747768 352; combined=168, p1=150, p2=0, p3=0, p4=0, p5=17, sr=40, sw=1, l=0, gc=0
Response-Body-Transformed: Dechunked
Producer: ModSecurity for Apache/2.7.3 (http://www.modsecurity.org/); OWASP_CRS/2.2.6.
Server: Apache
Engine-Mode: "ENABLED"

--e5805d4a-Z--
--3e98a255-A--
[20/Nov/2016:17:53:15 +0200] V4@ea6wRRPkAAB@tuOMAAAAq 4.3.2.1 6508 192.168.1.1 80
--3e98a255-B--
PROPFIND /office/users HTTP/1.1
Connection: Keep-Alive
User-Agent: Microsoft-WebDAV-MiniRedir/6.1.7601
Depth: 0
translate: f
Content-Length: 0
Host: domain.com

--3e98a255-F--
HTTP/1.1 403 Forbidden
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Content-Length: 214
Connection: close
Content-Type: text/html; charset=iso-8859-1

--3e98a255-E--

--3e98a255-H--
Message: Access denied with code 403 (phase 1). Match of "within %{tx.allowed_methods}" against "REQUEST_METHOD" required. [file "/etc/httpd/modsecurity.d/activated_rules/modsecurity_crs_30_http_policy.conf"] [line "31"] [id "960032"] [rev "2"] [msg "Method is not allowed by policy"] [data "PROPFIND"] [severity "CRITICAL"] [ver "OWASP_CRS/2.2.6"] [maturity "9"] [accuracy "9"] [tag "OWASP_CRS/POLICY/METHOD_NOT_ALLOWED"] [tag "WASCTC/WASC-15"] [tag "OWASP_TOP_10/A6"] [tag "OWASP_AppSensor/RE1"] [tag "PCI/12.1"]
Action: Intercepted (phase 1)
Stopwatch: 1469029995000130 407 (- - -)
Stopwatch2: 1469029995000130 407; combined=169, p1=146, p2=0, p3=0, p4=0, p5=22, sr=46, sw=1, l=0, gc=0
Response-Body-Transformed: Dechunked
Producer: ModSecurity for Apache/2.7.3 (http://www.modsecurity.org/); OWASP_CRS/2.2.6.
Server: Apache
Engine-Mode: "ENABLED"

--3e98a255-Z--
--3e98a255-A--
[20/Nov/2016:17:53:15 +0200] V4@ea6wRRCkAACNTGZcAAAAO 4.3.2.1 9485 192.168.1.1 80
--3e98a255-B--
PROPFIND /office/users HTTP/1.1
Connection: Keep-Alive
User-Agent: Microsoft-WebDAV-MiniRedir/6.1.7601
Depth: 0
translate: f
Content-Length: 0
Host: domain.com

--3e98a255-F--
HTTP/1.1 403 Forbidden
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Content-Length: 214
Connection: close
Content-Type: text/html; charset=iso-8859-1

--3e98a255-E--

--3e98a255-H--
Message: Access denied with code 403 (phase 1). Match of "within %{tx.allowed_methods}" against "REQUEST_METHOD" required. [file "/etc/httpd/modsecurity.d/activated_rules/modsecurity_crs_30_http_policy.conf"] [line "31"] [id "960032"] [rev "2"] [msg "Method is not allowed by policy"] [data "PROPFIND"] [severity "CRITICAL"] [ver "OWASP_CRS/2.2.6"] [maturity "9"] [accuracy "9"] [tag "OWASP_CRS/POLICY/METHOD_NOT_ALLOWED"] [tag "WASCTC/WASC-15"] [tag "OWASP_TOP_10/A6"] [tag "OWASP_AppSensor/RE1"] [tag "PCI/12.1"]
Action: Intercepted (phase 1)
Stopwatch: 1469029995328434 432 (- - -)
Stopwatch2: 1469029995328434 432; combined=192, p1=172, p2=0, p3=0, p4=0, p5=20, sr=58, sw=0, l=0, gc=0
Response-Body-Transformed: Dechunked
Producer: ModSecurity for Apache/2.7.3 (http://www.modsecurity.org/); OWASP_CRS/2.2.6.
Server: Apache
Engine-Mode: "ENABLED"

--3e98a255-Z--
--3e98a255-A--
[20/Nov/2016:17:53:15 +0200] V4@ea6wRRCkAAMPZgRwAAAAg 1.2.3.4 37238 192.168.1.1 80
--3e98a255-B--
PROPFIND /office/users HTTP/1.1
Connection: Keep-Alive
User-Agent: Microsoft-WebDAV-MiniRedir/6.1.7601
Depth: 0
translate: f
Content-Length: 0
Host: domain.com

--3e98a255-F--
HTTP/1.1 403 Forbidden
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Content-Length: 214
Connection: close
Content-Type: text/html; charset=iso-8859-1

--3e98a255-E--

--3e98a255-H--
Message: Warning. Operator EQ matched 1 at SESSION:IS_NEW. [file "/etc/httpd/modsecurity.d/ruleset-01-mph/mph-REQUEST-30-COOKIES_idap.conf"] [line "16"] [id "981054"] [msg "Invalid SessionID Submitted."]
Message: Pattern match "^[\\d.:]+$" at REQUEST_HEADERS:Host. [file "/etc/httpd/modsecurity.d/ruleset-02-crs/REQUEST-20-PROTOCOL-ENFORCEMENT_idap.conf"] [line "875"] [id "960017"] [rev "2"] [msg "Host header is a numeric IP address"] [data "192.168.30.50"] [severity "WARNING"] [ver "OWASP_CRS/3.0.0"] [maturity "9"] [accuracy "9"] [tag "application-multi"] [tag "language-multi"] [tag "platform-multi"] [tag "attack-protocol"] [tag "OWASP_CRS/PROTOCOL_VIOLATION/IP_HOST"] [tag "WASCTC/WASC-21"] [tag "OWASP_TOP_10/A7"] [tag "PCI/6.5.10"] [tag "http://technet.microsoft.com/en-us/magazine/2005.01.hackerbasher.aspx"]
Action: Intercepted (phase 1)
Stopwatch: 1469029995683352 432 (- - -)
Stopwatch2: 1469029995683352 432; combined=170, p1=149, p2=0, p3=0, p4=0, p5=21, sr=44, sw=0, l=0, gc=0
Response-Body-Transformed: Dechunked
Producer: ModSecurity for Apache/2.7.3 (http://www.modsecurity.org/); OWASP_CRS/2.2.6.
Server: Apache
Engine-Mode: "ENABLED"

--3e98a255-Z--